@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
  color: #83898a;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 65%;
  margin: 0 auto;
}

/* for button */
.btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: 1px solid #83898a;
  margin: 37px 0 20px;
  background-color: inherit;
  color: #666;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn:hover{
  background-color: #83898a;
  color: #fff;
}

.uppercase { text-transform: uppercase; }

.font-icons::before{
  font-family:'FontAwesome';
  margin-right: 15px;
  color: #49bd8b;
}

h1{
  font-size: 40px;
}

h2 {
  padding-bottom: 45px;
  color: #666;
  font-size: 25px;
  font-weight: bold;
}

h3{
  font-size: 20;
}

h4 {
  font-size: 18px;
  line-height: 1.7;
}

/*=================================
  Header styling starts here
=================================*/
.header-section {
  padding: 240px 0 100px;
  background-image: linear-gradient(to right, #514b76, #733f7a);
  color: #fff;
}

.header-section .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.greet {
  padding-top: 2px;
  padding-right: 90px;
  flex-basis: 0;
  flex-grow: 1;
  font-weight: bold;
  line-height: 1.5;
}

.header-info {
  padding-top: 2px;
  padding-left: 50px;
  border-left: 1px solid #b09bdc;
  flex-basis: 0;
  flex-grow: 1;
  color: #b09bdc;
  font-weight: bold;
  line-height: 1.5;
}

.header-btn {
  border: none;
  background-color: #49bd8b;
  color: #fff;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/*=================================
  feature styling starts here
=================================*/

.feature-section {
  padding: 95px 0 84px;
  border-bottom: 0.5px solid #ccc;
}

.feature-section .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature-info {
  padding-right: 60px;
  flex-basis: 0;
  flex-grow: 1;
}

.feature-list {
  padding-right: 50px;
  border-left: 1px solid #ccc;
  flex-basis: 0;
  flex-grow: 1;
}

.feature-list li {
  margin: 40px 0 40px 50px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}

.feature-list li:first-child {
  margin-top: 0;
}

.feature-list li::before { content: "\f00c"; }

/*=================================
 feature styling ends here
=================================*/

/*=================================
  card styling starts here
=================================*/

.card-section {
  padding: 60px 0 85px;
  background-color: #fafafa;
}

.card-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 25px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: flex-start;
  background-color: #fff;
}

.card img{
  height: 100%;
  width: 100%;
}

.card-info {
  padding: 0 50px;
  margin: 20px 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
}

/*=================================
  card styling ends here
=================================*/

/*=================================
  contact styling starts here
=================================*/

.contact-section {
  padding: 84px 0;
  border-bottom: 0.5px solid #ccc;
}

.contact-section .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.queries {
  padding-right: 90px;
  flex-basis: 0;
  flex-grow: 1;
}

.contact-form {
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.contact-form input {
  padding: 12px 10px;
  border: 1px solid #ccc;
  margin: 34px 0;
  flex-basis: 0;
  flex-grow: 1;
  font-family: sans-serif;
  font-size: 16px;
}

.contact-form textarea {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  margin-bottom: 34px;
  float: left;
  font-family: sans-serif;
  font-size: 16px;
}

.contact-btn {
  margin-top: 0;
}

.links {
  padding-right: 50px;
  border-left: 1px solid #ccc;
  flex-basis: 0;
  flex-grow: 1;
}

.links li {
  margin: 25px 0 25px 40px;
  display: block;
  line-height: 1.7;
}

.links li:nth-child(1)::before{ content: "\f099";}

.links li:nth-child(2)::before{ content: "\f09a";}

.links li:nth-child(3)::before{ content: "\f16d";}

.links li:nth-child(4)::before{ content: "\f0e0";}

.links li:nth-child(5)::before{ content: "\f015";}


.contact-info a {
  color: inherit;
  font-size: 18px;
}

/*=================================
  contact styling ends here
=================================*/

/*=================================
  main styling ends here
=================================*/
/*=================================
  footer styling starts here

=================================*/

.footer-section {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 1280px starts here*/

@media only screen and (max-width: 1280px) {
 .contact-form .input{
   width: 100%;
 }

 .contact-form input{
  width: 100%;
 }

 .contact-form input:last-child{
   margin-top: 0;
 }

}

/*media query for 1280px ends here*/

/*media query for 1024px starts here*/

@media only screen and (max-width: 1024px) {
  
  .wrapper{
    width: 80%;
  }

  h1{
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }
  
  h4 {
    font-size: 15px;
  }
  
  .contact-info a {
    font-size: 15px;
  }

  .feature-list li{
    font-size: 15px;
  }

  .card img{
    width: 110%;
  }
}
/*media query for 1024px ends here*/

/*media query for 768px starts here*/

@media only screen and (max-width: 768px) {
  
  .btn{
    padding: 15px 30px;
    font-size: 12px;
  }

  .header-section .wrapper{
    flex-direction: column;
  }
  .header-info{
    border-left: 0;
    border-top: 1px solid #b09bdc;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 0;
  }
}

.feature-section .wrapper{
  flex-direction: column;
}

.feature-list{
  margin: 20px 0 0;
  border-left: 0;
  border-top: 1px solid #83898a;
  padding-top: 30px;
  padding-left: 0;
}

.feature-list li{
  margin: 20px 0;
}

.card-section{
  padding-bottom: 30px;
}

.card{
  flex-direction: column;

}

.card img{
  width: 100%;
}

.card-info{
  margin: 20px 0;
  padding: 0 10px;
}


.contact-section .wrapper{
  flex-direction: column;
}

.links{
  border-top: 1px solid #ccc;
  border-left: 0;
  margin-top: 20px;
  padding-top: 20px;
}

/*media query for 768px ends here*/

/*media query for 320px starts here*/

@media only screen and (max-width: 320px) {
  
  .btn{
  padding: 10px 16px;
  font-size: 10px;
  }

  .header-section{
    padding: 100px 0 50px;
  } 

  .feature-info{
    padding: 0;
  }
  
  .queries{
    padding: 0 10px;
  }
  
  .links{
    padding: 0;
  }

  .links li{
    margin-left: 0;
  }

  .footer-section{
    padding: 30px;
  }

  .footer-section h4{
    font-size: 10px;
  }
/*media query for 320px ends here*/
/*media query ends here*/

}
